.btn-logout{
    width: 100%;
    padding: 1.5vmin;
    background-color: #2828e0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vmin;
    color: #ffffff;
    transition: .6s;
}